node_modules
# Keep environment variables out of version control
.env

# Database files (can be regenerated with migrations and seed)
*.db
*.db-journal
*.db-wal
*.db-shm

/src/generated/prisma

/src/generated/prisma

SETUP.md
